body {
  background-color: whitesmoke;
  font-family: "Arial";
  margin-top: 5px;
}

main {
  max-height: 150px;
  margin-top: auto;
  padding: 5px;
}

.App {
  margin-left: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.ERContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.ExchangeRate {
  order: -1;
  flex-wrap: wrap;
}

.FirstCurrency {
  order: -1;
  flex: 1 0 100%;
}

.input {
  width: 150px;
  text-align: right;
  font-size: medium;
}

.select {
  font-size: medium;
}

.input,
.select {
  border: none;
}

.search-box {
  width: 100%;
  margin: 0 0 75px;
}

.search-box .search-bar {
  display: block;
  width: auto;
  padding: 15px;

  appearance: none;
  background: none;
  border: none;
  outline: none;

  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 0px 0px 16px 16px;
  margin-top: 15px;

  box-shadow: 0px 5px rgba(0, 0, 0, 0.2);

  color: #313131;
  font-size: 20px;

  transition: 0.4s ease;
}
.search-box .search-bar:focus {
  background-color: rgba(255, 255, 255, 0.75);
}

.weather-info {
  font-family: Arial, Helvetica, sans-serif;
  margin-top: -50px;
  max-height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
