@import url('https://fonts.googleapis.com/css2?family=M+PLUS+2:wght@400;600;754;900&family=Shippori+Antique&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
}

.Us {
  margin-top: 20px;
}

.weather-box {
  box-shadow: 6px 9px 23px;
  border-radius: 100px;
  box-shadow: aqua;
  width: 92 px;
  display: flex;
  padding: 20px;
  background-color: rgb(3 3 3 / 43%);
  font-size: x-large;
  font-family: 'M PLUS 2', sans-serif;
  font-family: 'Shippori Antique', sans-serif;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
  align-content: flex-start;
}

.weather {
  font-weight: bold;
}

.equal {
  font-family: 'M PLUS 2', sans-serif;
  font-size: xx-large;
  font-weight: bold;
  background: #030d1570;
  border-block-end: revert;
  border-radius: 21 px;
  padding: 2 px;
}

main {
  height: 15vh;
  padding: 25px;
}

.map {

  margin: 3 px;
}

.map-container {
  height: 300px;
  width: 700px;
  border-radius: 14px;
  margin: 20px;
  box-shadow: 2px 6px 29px #3b3939b3;


}

.viewContainer {
  align-items: center;
  width: 100%;
  height: 100%;
  margin: 30 px;

}


.search-box {
  width: 100%;
  margin: 11 px 2 px 14 px;
}

.hello {
  margin-bottom: -67 px;
}

.search-box .search-bar {
  display: inline-block;
  width: 93%;
  box-shadow: 2px 1px 9px #4b4746b3;
  ;
  height: 31px;
  padding: 7px;
  -webkit-appearance: none;
  appearance: none;
  background: none;
  border: none;
  outline: none;
  background-color: rgba(255, 255, 255, 0.75);
  margin-top: -45 px;
  /* box-shadow: 0px 5px rgb(0 0 0 / 20%); */
  font-size: 20px;
  transition: 0.4s ease;
  justify-content: flex-start;
  align-content: stretch;
  flex-direction: column;
  flex-wrap: nowrap;
  margin-left: 73 px;
  align-items: baseline;
  border-radius: 7px;
}

.search-box .search-bar:focus {
  background-color: rgba(255, 255, 255, 0.75);
}

.all-weather-info {

  height: 155 px;
  margin: 19px;
}

.weather-info {
  background: radial-gradient(#3c1616b0, transparent);
  display: flex;
  border-radius: 30px;
  width: 100%;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-around;
  align-content: flex-start;
}

.EXC {
  display: flex;
  align-content: space-around;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

/* Todo List CSS */

.todo {
  display: flex;
  align-items: stretch;
  flex-wrap: wrap;
  width: 53%;
  flex-direction: column;
  padding: 11 px;
  align-content: stretch;
  justify-content: flex-start;
  margin: 12 px;
  margin-bottom: 162 px;
}

.new-task-form {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-content: stretch;
  flex-direction: row;
  align-items: stretch;
  align-items: center;
  border: none;

}

.inputWidth {
  width: 77%;
  border: none;
  border-radius: 13px;
  margin: 4px;
  padding: 4px;

}

.inputForm {
  border: 0px;
  padding: 13px;
  height: 51px;
  border-radius: 4px;
  border-radius: 5px;
  background: #151010d1;
}

.tasks {
  border-radius: 0.5rem;
  border-top: none;
  border-radius: 0 0 0.5rem 0.5rem;
  width: 100%;
  align-items: flex-end;
  background: #09243fc9;
}

.formHeading {
  margin-left: 6 px;
  font-size: large;
  font-weight: bold;
}

.tasks .task {
  border-bottom: none;
  padding: 0.25rem 1rem 0.25rem 0.35rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;

}

.tasks .task:first-of-type {
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}

.tasks .task:last-of-type {
  border-bottom-left-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}

.tasks .task .text {
  line-height: 1.5rem;
  padding-left: 0.25rem;
}

.tasks .task .label {
  background: lightcyan;
  padding: 1rem;
  font-size: 0.75rem;
  border: solid #cbcbff 0.15rem;
  border-radius: 0.25rem;
}

.tasks .task button.delete {
  margin-top: 3px;
  padding: 0 1.5rem;
  margin-left: auto;
  border-radius: 0.5rem;
  background: #ffe9ec00;
  color: #e69797;
  font-weight: bolder;
  font-size: 1rem;
  border: solid #f4c8c8 0.1rem;
  cursor: pointer;
}

.tasks .task button.delete:hover {
  filter: brightness(1.1);
}

.new-task-form {
  display: flex;
  align-items: center;
  border: none;

}

.submit {


  color: hsl(0, 0%, 62%);
  padding: 2px;
  border: none;
  margin: 3px;
  margin-left: -4px;
  width: 6%;
  border-radius: 5px;
  margin-right: 11px;

}

.new-task-form input[type="submit"] {
  color: white;
  border: none;
  font-size: 1rem;
  cursor: pointer;
  box-sizing: border-box;
  width: 7rem;
}

.new-task-form select {
  width: 7rem;
}

.new-task-form input[type="submit"]:hover {
  filter: brightness(1.2);
}

button.toggle {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  border-radius: 0.5rem;
  font-size: 1rem;
  cursor: pointer;
  background: #d2d6d9;
  color: #494949;
  border: solid #a0a0a0 0.1rem;
}

button.toggle.on {
  background: #d3edff;
  color: #0798ff;
  border: solid #0798ff 0.1rem;
}

button.toggle.on:before {
  content: "";
  background: #d3edff;
  position: absolute;
  transform-origin: center;
  transform: scale(0);
  opacity: 1;
  width: 100%;
  height: 100%;
  z-index: -10;
  animation: grow 0.75s;
}

button.toggle:focus {
  outline: none;
}

.select {
  color: #ffffff;
  border-radius: 5px;
  background-color: transparent;
}


/* Todo List CSS */